<div class="panel panel-default">
  <div class="panel-body">
    <form id="plant-edit" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            size="100"
            max="100"
            name="name"
            required
          />
        </div>
      </div>
      <div class="col-sm-12 form-group">
        <label for="scientificName">Scientific Name</label>
        <input
          type="text"
          id="scientificName"
          class="form-control"
          size="100"
        />
      </div>
    </form>
  </div>
</div>
